<%content_for :head do %>

<script type="text/javascript">
  
  $(document).ready(function(){


    $("#car").on('change', function(e){

    var valuesToSubmit = e.currentTarget.selectedOptions[0].innerText;

    var form = document.getElementsByTagName('form');

    $.ajax({
        url: form[0].action + ".json", //sumbits it to the given url of the form
        data: 'Year=' + valuesToSubmit,
        dataType: "JSON" // you want a difference between normal and ajax-calls, and json is standard
    }).success(function(json){
        //act on result.
        console.log(json);
    });
    return false; // prevents normal behaviour


    })


  })

</script>

<% end %>


<div id="oilChangeApp">


<%= form_tag("/cars", :method => "get", :remote => true) do %>

<%= select_tag 'year', options_from_collection_for_select(@years, 'ID', 'Year') %>

<%= select_tag 'make', options_from_collection_for_select(@makes, 'ID', 'Make') %>

<%= select_tag 'model', options_from_collection_for_select(@models, 'ID', 'Model') %>

<% end %>
</div>